.app {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.userInfo {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	gap: 1rem;
}

.label {
	color: #555;
	font-weight: bold;
	margin-right: 0.25rem;
}

.item {
	display: flex;
	flex-direction: column;
}

.value {
	color: black;
	text-underline-offset: 2px;
	text-decoration: underline;
}

.search {
	display: flex;
	padding: 1rem;
	background-color: antiquewhite;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search > * {
	width: 200px;
}

.addNew {
	padding: 1rem;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.spinner {
	margin: 20px;
	width: 100px;
	height: 100px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	
	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  @-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
  }